a {
  text-decoration: none;
}
.intro {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: var(--primary);
  display: flex;
  margin-top: -10px;
}
.left {
  height: 100%;
  width: 60%;
  padding: 3rem 3rem 3rem 5rem;
  display: table;
}
.left > div {
    display: grid;
    margin-top: 100px;
  vertical-align: middle;
}
.intro span {
  color: var(--accent1);
  font-family: "readable", Arial, sans-serif !important;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  font-family: sans-serif;
  margin-bottom: 2rem;
}
.intro h1 {
  font-family: "cursive", Arial, sans-serif;
  font-size: 7rem;
  color: var(--container);
}
.intro p {
  font-family: "Microsoft New Tai Lue";
  color: #555555;
  font-size: 1.2rem;
}
.slider {
  float: right;
  position: relative;
  width: 40%;
  height: 100%;
}
.slider li {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: clip 0.7s ease-in-out, z-index 0s 0.7s;
  clip: rect(0, 100vw, 100vh, 100vw);
  display: table;
}
.center-y {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.slider li.current {
  z-index: 2;
  clip: rect(0, 100vw, 100vh, 0);
}
.slider li.prev {
  clip: rect(0, 0, 100vh, 0);
}
.intro nav {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 30;
}
.intro nav > a {
  display: inline-block;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  min-width: 12px;
  min-height: 12px;
  background: #fff;
  margin: 0 1rem;
  transition: transform 0.3s;
  box-shadow: 0px 1px 10px black;
}
.intro a.current_dot {
  transform: scale(1.4);
  background-color: var(--accent1);
}
@media screen and (max-width: 1400px) {
  
  .intro h1 {
    font-size: 4rem;
  }
  .intro h1 + p {
    font-size: 1.2rem;
  }
  .intro p + a {
    font-size: 1.2rem;
  }
}
  @media screen and (max-width: 700px) {
  
  .left {
    width: 100%;
    height: 30%;
  }
  .slider {
    width: 100%;
    height: 70%;
  }
}
