:root {
  --primary: #fefefa;
  --bg-color: #eaddc3;
  --container: #c7a270;
  --accent1: #8f4646;
  --accent2: #5a835c;
}

@font-face {
  font-family: "readable";
  src: url("fonts/themunday.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "cursive";
  src: url("fonts/WhisperingSignature.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "text";
  src: url("fonts/BRLNSR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html {
  font-family: "readable", Arial, sans-serif;
  background-color: var(--bg-color);
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.navbar {
  position: fixed;
  width: auto;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 9999;
}

.navbar-list {
  text-align: right;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 20px;
  color: var(--container);
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar-item {
  position: relative;
  margin: 0 15px;
  padding-right: 15px;
}

.navbar-link {
  text-shadow: 2px 3px 2px black;
  font-size: 29pt;
  font-weight: bold;
  text-decoration: none;
  color: var(--container);
  text-transform: uppercase;
  transition: color 100ms ease-in;
}

.navbar-link:hover {
  color: var(--primary);
}

.page-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s ease-in-out, visibility 0.6s ease-in-out;
  box-sizing: border-box;
}

.section-active {
  opacity: 1;
  visibility: visible;
  z-index: 1;
}

.banner {
  width: 100vw;
  position: relative;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.banner p {
  position: absolute;
  font-family: "cursive";
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--primary);
  font-size: 5em;
  margin: 0;
  text-align: center;
  width: 100%;
}

.intro {
  display: flex;
  background-color: var(--primary);
}

.intro .left {
  height: 100%;
  width: 60%;
  padding: 3rem 3rem 3rem 5rem;
  display: table;
  box-sizing: border-box;
}

.intro .left > div {
  display: grid;
  margin-top: 100px;
  vertical-align: middle;
}

.intro span {
  color: var(--accent1);
  font-family: "readable", Arial, sans-serif !important;
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 2px;
  display: inline-block;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.intro h1 {
  font-family: "cursive", Arial, sans-serif;
  font-size: 7rem;
  color: var(--container);
  margin: 0;
}

.intro p {
  font-family: "Microsoft New Tai Lue";
  color: #555555;
  font-size: 1.2rem;
}

.slider {
  float: right;
  position: relative;
  width: 40%;
  height: 100%;
}

.slider li {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: clip 0.7s ease-in-out, z-index 0s 0.7s;
  clip: rect(0, 100vw, 100vh, 100vw);
  display: table;
  list-style: none;
}

.center-y {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}

.slider li.current {
  z-index: 2;
  clip: rect(0, 100vw, 100vh, 0);
}

.slider li.prev {
  clip: rect(0, 0, 100vh, 0);
}

.slider nav {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 30;
}

.slider nav > a {
  display: inline-block;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  min-width: 12px;
  min-height: 12px;
  background: #fff;
  margin: 0 1rem;
  transition: transform 0.3s;
  box-shadow: 0px 1px 10px black;
  text-decoration: none;
}

.slider a.current_dot {
  transform: scale(1.4);
  background-color: var(--accent1);
}

.programa {
  padding: 2rem 3rem 3rem 5rem;
}
.programa span {
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--accent1);
  font-weight: bold;
}
.prog_content {
  position: relative;
  display: grid;
  place-items: center;
  row-gap: 5px;
  max-height: 100vh;
  column-gap: 50px;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 1400px;
}

.grid-item {
  font-family: "cursive", Arial, sans-serif;
  font-weight: normal;
  text-align: center;
  font-size: 42pt;
  width: 100%;
  height: 40vh;
}
.grid-item img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  margin: 30px 0 60px 0;
  object-fit: cover;
}
.grid-item h4 {
  font-size: 20pt;
  font-family: "text";
  font-weight: lighter;
  margin: 0;
}

.grid-item p {
  margin-bottom: 0;
}

.presenca {
  padding: 2rem 3rem 3rem 5rem;
  background: url("/img/bg-art.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
}
.presenca span {
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--accent1);
  font-weight: bold;
}
.presenca p {
  font-size: 20pt;
  font-weight: bold;
  text-align: center;
  max-width: 900px;
  font-family: "readable";
  margin: 1rem auto;
}
.formulario {
  position: relative;
  font-family: "text";
  font-size: 18pt;
  color: var(--primary);
  background-color: var(--container);
  margin: 50px auto 0 auto;
  width: 30vw;
  min-width: 400px;
  padding: 50px;
  box-shadow: 8px 8px 20px black;
  border-radius: 10px;
}
.formulario input,
.formulario textarea {
  margin-top: 10px;
  margin-bottom: 40px;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}
.formulario textarea {
  resize: none;
  margin-bottom: 20px;
}
.formulario button {
  font-family: "text";
  font-size: 20pt;
  background-color: var(--accent2);
  width: 150px;
  position: absolute;
  color: var(--primary);
  bottom: 50px;
  right: 50px;
  padding: 15px;
  border: 5px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
  transition: filter 100ms ease;
}

.formulario button:hover {
  filter: brightness(85%);
}

.prendas {
  padding: 2rem 1rem 1rem 5rem;
  background-color: var(--bg-color);
}

.prendas span {
  font-size: 20px;
  letter-spacing: 2px;
  color: var(--accent1);
  font-weight: bold;
}

.prendas-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  max-width: 1200px;
  margin: 4rem auto 0 auto;
}

.prenda-item {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 1rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.prenda-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.prenda-item img {
  width: 35%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.prenda-item h4 {
  font-family: "text", Arial, sans-serif;
  font-size: 1.3rem;
  color: #333;
  margin: 1rem 0 0.5rem 0;
  min-height: 50px;
}

.prenda-item a {
  display: inline-block;
  font-family: "text";
  font-size: 1rem;
  text-decoration: none;
  background-color: var(--accent2);
  color: var(--primary);
  padding: 10px 20px;
  border-radius: 5px;
  transition: filter 0.2s ease;
}

.prenda-item a:hover {
  filter: brightness(85%);
}

@media screen and (max-width: 1400px) {
  .intro h1 {
    font-size: 4rem;
  }
  .intro h1 + p {
    font-size: 1.2rem;
  }
  .prog_content {
    grid-template-columns: 1fr 1fr;
    margin-left: 0;
    column-gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .intro .left > div {
    margin-top: 0px;
  }
  .banner p {
    font-size: 40pt;
  }
  .navbar-link {
    font-size: 20pt;
  }
  .prendas-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .prog_content {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .grid-item {
    height: auto;
  }
  .grid-item img {
    height: 30vh;
    margin: 10px 0;
  }
}

@media screen and (max-width: 700px) {
  .navbar {
    top: 10px;
    right: 50%;
    transform: translateX(50%);
    width: 100%;
    padding: 0;
  }
  .navbar-list {
    flex-direction: row;
    gap: 0;
    justify-content: center;
  }
  .navbar-item {
    margin: 0 5px;
    padding: 0;
  }
  .navbar-link {
    font-size: 14pt;
    text-shadow: 1px 1px 1px black;
  }

  .intro {
    flex-direction: column;
  }
  .intro .left {
    width: 100%;
    height: 40%;
    padding: 1rem;
    padding-top: 60px;
  }
  .intro .left > div {
    margin-top: 0;
  }
  .slider {
    width: 100%;
    height: 60%;
  }
  .intro h1 {
    font-size: 3rem;
  }

  .banner p {
    font-size: 2.5em;
    top: 70px;
  }

  .programa,
  .presenca,
  .prendas {
    padding: 1rem;
    padding-top: 80px;
  }

  .prog_content {
    margin-top: 1rem;
  }

  .presenca p {
    font-size: 16pt;
  }
  .formulario {
    width: 50vw;
    min-width: initial;
    padding: 20px;
    margin-top: 20px;
  }
  .formulario input,
  .formulario textarea {
    margin-bottom: 20px;
  }
  .formulario button {
    position: relative;
    bottom: auto;
    right: auto;
    width: 100%;
  }

  .prendas-grid {
    grid-template-columns: 1fr, 1fr;
  }
  .prendas-item img {
    width: 20% !important;
  }

  .programa,
  .presenca,
  .prendas {
    overflow-y: auto;
  }
}
