.intro {
  display: flex;
  background-color: var(--primary);
  padding: 0;
  overflow: hidden;
}

.intro-content {
  width: 60%;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-content h1 {
  font-family: "Cursive";
  font-size: 7rem;
  color: var(--container);
  margin: 0;
  line-height: 1;
}

.intro-content p {
  font-family: "Text";
  font-size: 1.2rem;
  margin-top: 1rem;
}

.slider-container {
  width: 40%;
  position: relative;
  height: 100vh;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

@media (max-width: 1024px) {
  .intro {
    flex-direction: column;
  }
  .intro-content {
    width: 100%;
    height: auto;
    padding: 3rem 1.5rem;
  }
  .intro-content h1 {
    font-size: 4rem;
  }
  .slider-container {
    width: 100%;
    height: 50vh;
  }
}