.banner {
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  bottom: 100px;
  width: 100%;
  text-align: center;
}

.banner-text p {
  font-family: "Times New Roman", serif;
  color: var(--container);
  font-size: 4.4em;
  font-weight:400;
  margin: 0;
  background: rgba(0, 0, 0, 0.4);
  text-shadow: 3px 2px 4px black;
  backdrop-filter: blur(4px);
  padding: 1.5rem 2rem;
  border-radius: 10px; 
  border: 1px solid rgba(255,255,255,0.2);
  display: inline-block; 
  max-width: 80%;
}

@media (max-width: 768px) {
  .banner-text p {
    font-size: 3em;
    bottom: 50px;
  }
}