.program-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
}

.grid-item {
  text-align: center;
}

.grid-item.info {
  font-family: "Cursive";
  font-size: 2rem;
}

.grid-item h4 {
  font-family: "Text";
  font-size: 1.5rem;
  font-weight: lighter;
  margin: 10px 0 30px 0;
}

.grid-item img {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
  .program-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .grid-item.img-wrapper {
    order: -1; 
  }
}